// Define variables for your color scheme

// For buttons and graphics
$turquoise: #52BBBB;
$dark-turquoise: #15968A;
$deep-yellow: #F2D02A;
$reject-grey: #D9D9D9; // secondary icon
$admin-blue: #0080FF;

// For text
$normal-text: #000000;
$secondary-text: #757575;

// For cdc pages
$dark-purple: #2E3B81;
$medium-purple: #50599A;
$text-purple: #565D95;
$light-purple: #C0C4D9;

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
