.progress {
  height: 2.5rem;
}

.metric-green {
  color: $dark-turquoise;
}

.bar-yellow {
  background-color: $deep-yellow;
}

.noti-yellow {
  background-color: $yellow-200;
}

.form-switch {
  padding-left: 3rem;
}

.form-check {
  border-radius: 10px;
}
