.cover-image-container {
  display: flex;
  justify-content: center;
  background-color: #ffffff;

  img {
    max-width: 100%;
  }
}

.progress {
  height: 2.5rem;
}

.progress-bar {
  font-size: 1.2rem;
}

.stats-green {
  color: $dark-turquoise;
}

.stats-yellow {
  color: $deep-yellow;
}

.bar-yellow {
  background-color: $deep-yellow;
}

.noti-yellow {
  background-color: $yellow-200;
}

.form-switch {
  padding-left: 3rem;
}

.form-check {
  border-radius: 10px;
}

.home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}

@media(max-width: 768px) {
  .home-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}
