<h1>Challenge Event Show Page</h1>

<p>Start Date-Time <%= @challenge_event.start_datetime %></p>
<p>End Date-Time <%= @challenge_event.end_datetime %></p>
<p>Related Challenge <%= @challenge_event.challenge.name %></p>
