<div data-claims-target="popup" class="d-flex justify-content-center align-items-center popup-container">
  <div class="popup-content">
    <p>You do not have enough points to claim more CDC vouchers.</p>
    <button data-action="click->claims#close" class="btn-small-purple">Close</button>
  </div>
</div>
