<div data-claims-target="errorpopup" class="d-flex justify-content-center align-items-center popup-container">
  <div class="popup-content">
    <p>You do not have enough points to claim more CDC vouchers.</p>
    <button data-action="click->claims#close" class="btn-small-purple">Close</button>
  </div>
</div>

<div data-claims-target="successpopup" class="d-flex justify-content-center align-items-center popup-container">
  <div class="popup-content">
    <p>CDC Vouchers claimed!</p>
    <%= link_to "Close", new_claim_path, class: "btn-small-purple" %>
  </div>
</div>
