<button class="home-card">
  <div>
    <%= image_tag "https://www.cgs.gov.sg/images/default-source/rr-2023/bloobin-comic.tmb-medium.png" %>
  </div>
  <div class="home-text-container">
    <h3>National Recycling Challenge</h3>
    <div class="d-flex">
      <i class="fa-regular fa-clock"></i>
      <p>From StartDate</p>
    </div>
  </div>
</button>
