<button class="home-card">
  <div>
    <%= image_tag "https://media.istockphoto.com/id/1147131358/vector/two-people-man-and-woman-characters-making-repair-apartment-renovation-construction-concept.jpg?s=612x612&w=0&k=20&c=lNUTCxdM_9_ZaoDa58eKv1VkVYSacVGxLzWbJ0Unsg0=" %>
  </div>
  <div class="home-text-container">
    <h3>Home Renovation Notice</h3>
    <div class="d-flex">
      <i class="fa-solid fa-location-dot pt-1"></i>
      <p>829 Tampines Street 81  #02-211 520829</p>
    </div>
  </div>
</button>
