<button class="home-card">
  <div>
    <div class="label">WORKING ON IT</div>
    <%= image_tag "https://static1.straitstimes.com.sg/s3fs-public/styles/large30x20/public/articles/2023/01/10/LEO3974.JPG?VersionId=s6uzzaescX3mrbDtjP_1isQfYFhSD9rk" %>
  </div>
  <div class="home-text-container">
    <h3>Dirty Pavement at Void Deck</h3>
    <div class="d-flex">
      <i class="fa-solid fa-location-dot pt-1"></i>
      <p>829 Tampines Street 81 520829</p>
    </div>
  </div>
</button>
