<div data-actions-target="successpopup" class="d-flex justify-content-center align-items-center popup-container">
  <div class="popup-content">
    <div>
      <%= image_tag "action_success.png", alt: "Recycling Image" %>
    </div>

    <div>
      <h1>Thanks, <%= @user.first_name %>!</h1>
      <p>You have recycled <%= @recyclable_weight %> of waste.</p>
      <p>Points will be credited on Sunday 0000h if your estate has hit the recycling target</p>
      <%= link_to "Back to Challenge", challenge_path(@challenge_event.challenge), class: "btn-pri-small-turquoise" %>
    </div>
  </div>
</div>
