<div class="sidebar border-end border-secondary-subtle">
  <ul>
    <li>
      <%= link_to "Admin Home", admin_home_path %>
    </li>
    <li>
      <%= link_to "Challenges", "#" %>
    </li>
    <li>
      <%= link_to "Challenge Events", admin_challenge_events_path %>
    </li>
    <li>
      <%= link_to "Metrics Dashboard", admin_dashboard_path %>
    </li>
  </ul>
</div>
