<div class="navbar navbar-expand-sm navbar-light header border-bottom border-secondary-subtle">
  <div class="container-fluid">
    <%= image_tag "logo.png", class: "header-image"%>

    <h1 class="m-0 fs-2"><%= @title %></h1>

    <%= link_to chatrooms_path do %>
      <i class="fa-regular fa-comments subheader-icon"></i>
    <% end %>
  </div>
</div>
