<div class="admin-panel px-5 py-3">
  <h1 class="mb-4">Challenges</h1>
</div>

<div class="px-5 py-3">
  <div class="mb-3 d-flex flex-row-reverse">
    <%= link_to "+ New Challenge", new_admin_challenge_path, class: "btn-pri-admin-blue" %>
  </div>

  <% if @challenges.count == 0 %>

  <div>
    <p>No challenges</p>
  </div>

  <% else %>

  <div class="admin-card-grid">
    <% @challenges.each do |challenge| %>
      <%= render "challengecard_admin", challenge: challenge %>
    <% end %>
  </div>

  <% end %>
</div>
