<div class="cta-footer container-fluid p-0">
  <div class="d-flex align-items-center justify-content-center">
    <%= link_to "#", class: "footer-link-with-icon" do %>
      <i class="fa-solid fa-share-nodes footer-icon"></i>
      <span>Share</span>
    <% end %>
  </div>

  <div class="footer-link-no-icon d-flex align-items-center justify-content-center">
    <%= link_to "Join Challenge", "#", class: "" %>
  </div>
</div>
