<div data-share-target="joinpopup" class="d-flex justify-content-center align-items-center popup-container">
  <div class="popup-content">
    <p>Thanks for joining the challenge!</p>
    <button data-action="click->share#close" class="btn-pri-small-turquoise">OK</button>
  </div>
</div>

<div data-share-target="sharepopup" class="d-flex justify-content-center align-items-center popup-container">
  <div class="popup-content">
    <p>Page link copied to clipboard!</p>
    <button data-action="click->share#close" class="btn-pri-small-turquoise">OK</button>
  </div>
</div>
