<div class="p-3">

  <% if @total_points.total_points > 0 %>
    <%= render "claimsection" %>
  <% end %>

  <div class="d-flex justify-content-between mb-4">
    <button class="btn-pri-small-turquoise">All Challenges</button>
    <button class="btn-sec-small-turquoise">My Challenges</button>
  </div>

  <div>
    <% @challenges.each do |challenge| %>
      <div class="d-flex align-items-start">
        <div>
          Cover image
        </div>

        <div>
          <p><%= challenge.name %></p>
          <p>Short description by <%= challenge.end_date.strftime("%e %b %Y") %></p>
          <div class="d-flex align-items-center">
            <p>Target METRIC <span>Insert metric</span></p>
            <p>Current <span>Insert metric</span></p>
          </div>
          <div class="d-flex align-items-center">
            <p>METRIC <span>points collected</span></p>
            <p>METRIC <span>participating residents</span></p>
          </div>
        </div>
      </div>

    <% end %>
  </div>

</div>
