<div class="p-3">

  <% if @total_points.total_points > 0 %>
    <%= render "claimsection" %>
  <% end %>

  <div class="d-flex justify-content-between mb-4">
    <button class="btn-small-turquoise active">All Challenges</button>
    <button class="btn-small-turquoise">My Challenges</button>
  </div>

  <div>
    <% @challenges.each do |challenge| %>
      <%= render "challengecard", challenge: challenge %>
    <% end %>
  </div>

</div>
