<div class="p-3">

  <% if @total_points.total_points > 0 %>
    <%= render "claimsection" %>
  <% end %>

  <div data-controller="challenges-filter">
    <div class="d-flex justify-content-between mb-4">
      <button data-action="click->challenges-filter#selectAll" data-challenges-filter-target="filter" class="btn-small-turquoise active">All Challenges</button>
      <button data-action="click->challenges-filter#selectMine" data-challenges-filter-target="filter" class="btn-small-turquoise">My Challenges</button>
    </div>

    <div data-challenges-filter-target="all">
      <% @challenges.each do |challenge| %>
        <% @latest_estate_metric = challenge.name == "National Recycling Challenge" ? metric_fr_actions(challenge.id) : 0 %>
        <%= render "challengecard",
          challenge: challenge,
          latest_estate_metric: @latest_estate_metric
        %>
      <% end %>
    </div>

    <div data-challenges-filter-target="mine" class="d-none">
      <% @challenges_participated.each do |challenge| %>
        <% @latest_estate_metric = challenge.name == "National Recycling Challenge" ? metric_fr_actions(challenge.id) : 0 %>
        <%= render "challengecard",
          challenge: challenge,
          latest_estate_metric: @latest_estate_metric
        %>
      <% end %>
    </div>
  </div>

</div>
