.btn-fullwidth-turquoise {
  background-color: $turquoise;
  color: $white;
  border-radius: 50vh;
  width: 100%;
  padding: 0.6rem 1.2rem;
}

.btn-sec-fullwidth-turquoise {
  background-color: $white;
  color: $turquoise;
  border: 1px solid $turquoise;
  border-radius: 50vh;
  width: 100%;
  padding: 0.6rem 1.2rem;
}
