.sidebar {
  background-color: $white;
  padding: 16px;
  width: 200px;
  flex-shrink: 0;
  position: sticky;
  top: 0;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    margin-bottom: 2rem;
  }

  a {
    display: block;
    color: $secondary-text;
    background: none;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;

    &.active {
      color: $admin-blue;
      font-weight: 500;
    }
  }

  a:hover {
    color: black;

    &.active {
      color: $admin-blue;
    }
  }
}
